*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  main .hero {
    background-image: url(./images/bg-hero-mobile.svg), linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 100px;
    height: 37.5rem;
    margin-bottom: 6.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .hero header {
    padding-top: 3.5rem;
  }
  main .hero header .logo {
    width: 5.125rem;
    height: 2rem;
    margin-bottom: 6.75rem;
  }
  main .hero header nav {
    display: none;
  }
  main .hero .text-hero h1 {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.08px;
    color: #ffffff;
  }
  main .hero .text-hero p {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2.375rem;
  }
  main .hero .text-hero .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  main .hero .text-hero .buttons button {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    padding: 0.9375rem;
    border-radius: 28px;
  }
  main .hero .text-hero .buttons .btn--start {
    color: #ff505c;
    background: #ffffff;
  }
  main .hero .text-hero .buttons .btn--learn {
    color: white;
    background: transparent;
    border: 1px solid #ffffff;
  }
  main .designed {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .designed h2 {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.84px;
    color: #1f3e5a;
    margin-bottom: 2.375rem;
  }
  main .designed .flex-designed {
    display: flex;
    flex-direction: column-reverse;
  }
  main .designed .flex-designed .text {
    text-align: center;
  }
  main .designed .flex-designed .text .first-text {
    margin-bottom: 2.5rem;
  }
  main .designed .flex-designed .text .second-text {
    margin-bottom: 17.0625rem;
  }
  main .designed .flex-designed .text h3 {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #1f3e5a;
    margin-bottom: 1rem;
  }
  main .designed .flex-designed .text p {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4c5862;
  }
  main .designed .flex-designed .img {
    margin-bottom: 2.875rem;
  }
  main .state {
    background-image: url(./images/bg-pattern-circles.svg), linear-gradient(360deg, #2d2e40 0%, #3f4164 100%);
    background-color: #2d2e40;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -140px;
    border-radius: 0px 100px;
    margin-bottom: 4.9375rem;
    padding: 13.8125rem 1.5rem 6.8125rem 1.5rem;
    position: relative;
  }
  main .state .flex-state .img {
    position: absolute;
    top: -170px;
  }
  main .state .flex-state .text h2 {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #ffffff;
    margin-bottom: 0.625rem;
  }
  main .state .flex-state .text p {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  main .free {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
  }
  main .free .flex-free .img {
    margin-bottom: 2.875rem;
    width: 20.5rem;
  }
  main .free .flex-free .text {
    text-align: center;
  }
  main .free .flex-free .text .first-text {
    margin-bottom: 2.5rem;
  }
  main .free .flex-free .text h3 {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #1f3e5a;
    margin-bottom: torem(16);
  }
  main .free .flex-free .text p {
    font-family: "Overpass Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4c5862;
  }
  footer {
    background: #24242c;
    border-radius: 0px 100px 0px 0px;
    padding: 4.6875rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .logo {
    width: 6.28875rem;
    height: 2.464375rem;
    margin-bottom: 4.5rem;
  }
  footer .product {
    margin-bottom: 2.5rem;
  }
  footer .company {
    margin-bottom: 2.5rem;
  }
  footer p {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.3125rem;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer li {
    margin-bottom: 0.4375rem;
  }
  footer a {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
    opacity: 0.75;
  }
}
/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  main .hero {
    background-image: url(./images/bg-hero-desktop.svg), linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 100px;
    height: 37.5rem;
  }
}
/*############ for-tablet-landscape-up #############*/
/*############ for-desktop-up ###########*/
/*############ for-big-desktop-up ##########*//*# sourceMappingURL=style.css.map */